.main-input{
    width: 50%;
    margin: 10px auto;
    /*
    outline-style: solid;
    outline-color: red;
    */
    display: flex;
    flex-direction: column;    
}

.main-list {
    width: 50%;
    text-align: center;
    margin: 10px auto;
}

.main-list .main-list__items {
    text-align: left;
}
