<div class="main-input">
  <mat-form-field>
    <input matInput placeholder="Input task" [formControl]="task">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addItem()">Add</button>
</div>
<div class="main-list">
  Here is what you should do:
  <mat-nav-list>
    <mat-list-item *ngFor="let todo of tasks">
      <a matLine href="#">{{ todo.task }}</a>
      <mat-checkbox [(ngModel)]="todo.isDone">Done</mat-checkbox>
      <button mat-icon-button (click)="editTask(todo)">
        <mat-icon>edit</mat-icon>
      </button>
      <a mat-icon-button (click)="deleteTask(todo)" class="deleteBtn">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>